.hero.is-info {
background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.15)
    ), 
    url('../images/hero-background.jpg') no-repeat center center fixed;
background-size: cover;
}

.hero-body {
    align-items: start;
}

.page-top {
    margin-top: 1.5rem;
}

.movie-cards {
    background: rgba(197, 8, 8, 0.15);
}
  
