* {
    font-family: 'Raleway', sans-serif;
    
}

:root {
    --primary: #852024;
}

.hero.is-info {
    background: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(0, 0, 0, 0)
        ),
        url('../images/hero-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.page-top {
    margin-top: 1.5rem;
}

.movie-cards {
    background: rgba(133, 32, 36, 0.15);
}

.is-danger {
    color: var(--primary);
}

.button.is-danger {
    background-color: var(--primary);
}

.navbar-burger {
    color: white;
}

.our-footer {
    background-color:  rgba(0, 0, 0, 0.45);
    padding: 1rem;
}

.fa-arrow-left {
    padding-right: 10px;
}

p > a {
    text-decoration: underline;
    text-underline-offset: 2px;
}

/*Themeing for autocomplete box*/
.ui-autocomplete{
    background: white;
    border-bottom: black 2px solid;
    border-left: black 2px solid;
    border-right: black 2px solid;
}

@media screen and (max-width: 1023px){
.hero.is-info .navbar-menu {
    background-color: var(--primary);
}}